:root {
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
--Red-Hat-Display: 'Red Hat Display', sans-serif;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Pale-blue);
}

.container {
    background-color: white;

    font-size: 16px;
    font-family: var(--Red-Hat-Display);
    text-align: center;

    width: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1rem;

}

.hero-image {
    width: 100%;
}

.plan-description {
    line-height: 2.5ch;
    margin-top: 1rem;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%; 
    border: none;
    border-radius: .8rem;
    cursor: pointer;
    font-weight: 700;
}

.proceed-button {
    background-color: hsl(245, 90%, 38%);
    color: white;
    box-shadow: 0 20px 30px -8px;
}

.proceed-button:hover {
    background-color: var(--Bright-blue);
    /* box-shadow: 10px 10px 10px 10px; */
}

.cancel-button {
    background-color: white;
    color: var(--Desaturated-blue);
}